<header id="page-topbar" style="background-color: #2a3042">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box">
                <h3 style="color:white;">Complaint System</h3>
            </div>           
        </div>
       
        <div class="d-flex">
           
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                    <span class="d-none d-xl-inline-block ml-1" id="UserName"></span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">                   
                    <a class="dropdown-item text-danger" id="LogOut" style="cursor:pointer;"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>