
@{
    ViewBag.Title = "AdminComplaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

}

@section scripts{
   
    <script src="~/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/pages/lightbox.init.js"></script>
    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            if (sessionStorage.getItem('accessToken') == null) {
                window.location.href = 'http://localhost:64323/Auth/Login';
            }

            $("#UserName").text(sessionStorage.getItem('UserName'));

            $.ajax({

                type: 'get',
                url: 'http://localhost:50893/api/ComplaintApi/LoadComplaintsWithDetails',
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                },
                success: function (response) {

                    var styles;

                    $.each(response, function (key, value) {

                        if (value.ComplaintStatus == "pending") {
                            styles = "badge badge-pill badge-warning";
                        } else if (value.ComplaintStatus == "dismissed") {
                            styles = "badge badge-pill badge-danger";
                        } else {
                            styles = "badge badge-pill badge-success";
                        }
                        $("#AdminComplaints tbody").append(`<tr><td>${value.UserName}</td><td>${value.Title}</td><td>${value.ComplaintType}</td><td id="ComplaintStatustd${value.ID}"><span class="${styles}" style="font-size:13px;">${value.ComplaintStatus}</span></td><td>${value.EntryDate.substr(0, 10)}</td><td><button class="btn" onclick="GetMoreInfo(${value.ID})"><i class="fas fa-edit"></i></button></td></tr>`);
                    });
                },
                error: function (jqXHR) {
                    if (jqXHR.status == "401") {
                        window.location.href = 'http://localhost:64323/Auth/Login';
                    }
                }

            });

            $.ajax({
                type: 'get',
                url: 'http://localhost:50893/api/ComplaintStatusApi/LoadComplaintStatus',
                dataType: 'JSON',
                success: function (response) {
                    $.each(response, function (key, value) {
                        $("#ComplaintStatus").append(`<option value="${value.ID}">${value.Name}</option>`);
                    });
                },
                error: function (jqXHR) {

                }
            });

            $("#LogOut").click(function () {

                sessionStorage.removeItem('accessToken');
                window.location.href = 'http://localhost:64323/Auth/Login';
            });

            $("#EditComplaintForm").submit(function (event) {

                event.preventDefault();

                $.ajax({

                    type: 'put',
                    url: 'http://localhost:50893/api/ComplaintApi/UpdateComplaintStatus/' + $("#ComplaintID").val() + '/' + $("#ComplaintStatus").val(),
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    success: function () {

                        var styles;
                        var ComplaintStatus;

                        if ($("#ComplaintStatus").val() == 1) {
                            styles = "badge badge-pill badge-success";
                            ComplaintStatus = "resolved";
                        } else if ($("#ComplaintStatus").val() == 2) {
                            styles = "badge badge-pill badge-warning";
                            ComplaintStatus = "pending";
                        } else {
                            styles = "badge badge-pill badge-danger";
                            ComplaintStatus = "dismissed";
                        }

                        $(`#ComplaintStatustd${$("#ComplaintID").val()} span`).remove();
                        $(`#ComplaintStatustd${$("#ComplaintID").val()}`).append(`<span class="${styles}" style="font-size:13px;">${ComplaintStatus}</span>`);
                        Swal.fire({ title: "Complaint Status Updated Successfuly", text: "", type: "success", showCancelButton: 0, confirmButtonColor: "#556ee6", cancelButtonColor: "#f46a6a", confirmButtonText: "Ok" });
                    },
                    error: function (jqXHR) {
                        if (jqXHR.status == "401") {
                            window.location.href = 'http://localhost:64323/Auth/Login';
                        }
                    }

                });

            })

        });

        function GetMoreInfo(ComplaintID) {
           
            $("#ComplaintID").val(ComplaintID);

            $.ajax({
                type: 'get',
                url: 'http://localhost:50893/api/ComplaintApi/LoadComplaintByComplaintID/' + ComplaintID,
                dataType: 'JSON',
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                },
                success: function (response) {
                    debugger
                    $("#ComplaintStatus").val(response.ComplaintStatusID);
                    $("#Description").val(response.Description);
                    $("#OpenEditPopUp").click();
                },
                error: function (jqXHR) {
                    if (jqXHR.status == "401") {
                        window.location.href = 'http://localhost:64323/Auth/Login';
                    }
                }
            });
        }

    </script>
}

@*Edit Complaint Status*@
<div class="row mt-5" style="display:none;">
    <div class="col-12">
        <a class="popup-form fas fa-plus btn-info btn float-right" href="#Edit-Complaint" id="OpenEditPopUp"></a>
        <div class="container card mfp-hide mfp-popup-form mx-auto Add-Bill-PopUp" style="max-width:700px;" id="Edit-Complaint">
            <div class="card-body">
                <h4 class="mt-0 mb-4">Edit Complaint Status</h4>
                <form class="custom-validation" id="EditComplaintForm">

                    <div class="row">
                        <div class="col-12" style="text-align:center;">
                            <div class="form-group">
                                <label>Complaint Status</label>
                                <select class="custom-select" id="ComplaintStatus" style="width:200px;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align:center;">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea cols="20" rows="8" class="form-control" id="Description" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-info waves-effect waves-light" style="width:200px">Edit Status</button>
                                <input type="hidden" id="ComplaintID" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0" id="AdminComplaints">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Title</th>
                                <th>Complaint Type</th>
                                <th>Complaint Status</th>
                                <th>Entry Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end row -->